@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.div1 {
    overflow: hidden;
    position: relative;
    background: -webkit-linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: linear-gradient(117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    background: -webkit-radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.nav-link{
    color:white
}
.btn1{
    background-color: rgb(0, 183, 255);
    color: white;
    border-radius: 10px;
}
.btn1:hover{
    background-color: rgb(0, 183, 255);  
  border-radius:10px solid red;

}
.img{
    border: 15px solid white;
    transform: rotate(-10deg);
    display: block;

}
.btn2{
    background-color: rgb(71, 255, 47);
    color: white;
    
   
}
.btn2:hover{
    background-color: rgb(71, 255, 47);
    color: white;
   
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color: rgb(71, 255, 47);}
    to { border-radius: 2px solid red;}
  }
  .div2{
    background-color: black;
  }
  .white{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
  }
  
 